<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./main.css" />
    <title>Apollo</title>
  </head>
  <body>
    <form action="/user/signup" method="post">
      <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar" />
      </div>
      <div class="container">
        <label for="uname"><b>title</b></label>
        <input type="text" placeholder="Enter title" name="title" required />
        <label for="psw"><b>description</b></label>
        <input type="text" placeholder="Enter description" name="description" />
        <label for="psw"><b>recording</b></label>
        <input type="file" placeholder="Enter description" name="recording" />
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me or <a href="/user/signup">register</a>
        </label>
      </div>
      <div class="container" style="background-color:#f1f1f1"></div>
    </form>
  </body>
</html>
