<form action="action_page.php" method="post">
    <div class="imgcontainer">
        <img style="width:10%;" src="logo.png" alt="Avatar" class="avatar">
        <img style="width:50%;" src="./logofw.png" alt="Avatar" class="avatar">
    </div>
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
    <div class="container">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- The form -->
<form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
​
<!DOCTYPE html>
<html>
​
<body>
    <h1> Apollo FAQ </h1>
​
</body style="background-color:powderblue;">
<p>
    <h3> Read me: This is the Apollo FAQ list, please read these before attempting to contact an admin.</h3>
    <div></div>
    <h5> <a href="https://www.FAQ.com/howtouploadpodcast/html.com/">How do I upload a podcast?</a></h5>
    <h5> <a href="https://www.FAQ.com/HowdoIchangemypasswordorusername?/html.com/">How do I change my password, or
            username?</a></h5>
    <h5> <a href="https://www.FAQ.com/CanIpostadsformybroadcast?/html.com/">Can I post ads for my broadcast?</a></h5>
    <h5> <a href="https://www.FAQ.com/Whatisappropriatecontent?/html.com/">What is appropriate content, and what are the
            site rules on uploads?</a></h5>
    <h5> <a href="https://www.FAQ.com/Writingandbloggingtips?/html.com/">Where can I find tips or ideas for
            uploading?</a></h5>
</p>
​
​
​
​
<h5> <a href="https://www.FAQ.com/Writingandbloggingtips?/html.com/">etc</a> </h5>
​
​
​
​
<h5><i> Credits: Asidmarie, Uchenna, Jaey, and Mason</i></h5>
<h5> Contact us:
    Phone Number - 1-800-1337-1863, available hours: Monday thru Thursday 9AM - 4PM.
    Email - www.howto101@yahoo.com, please anticipate a long wait time due to the high velocity of questions. </h5>
​
</html>
​
​
​
<h5>
    <p> you are interested in donating to help keep Apollo running, we currently accept PayPal donations, which you can
        reach here:<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_donations" />
            <input type="hidden" name="business" value="V8XS9WZKBVRL2" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
                name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
        We are currently a small development team, and any donations would be appreciated. If you are interested in
        helping Apollo develop,
        you can contact us through the email provided above for a developer or moderater position.
        Thank you for continuing to support up and coming artists and developers in our community.</p>
</h5>
Collapse



