<html lang="en">
  <head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css"
    />
    <link href="css/main.css" rel="stylesheet" />
  </head>
  ​
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img src="image" alt="" />
          <h2>
            Welcome <%= user.nickname %> <span class="member-name"></span>
          </h2>
        </div>
        <a href="/home">Login</a><a href="/user/signup">Sign Up</a>
        <img src="../public/placeholder.png" alt="placeholder" />
        <form method="POST" action="/home">
          <h3>Bio:</h3>
          <textarea cols="50" rows="5" name="bio"> </textarea>
          <input
            style="display: block"
            type="submit"
            name="Submit"
            placeholder="Submit"
          />
        </form>

        <h3>Upload Profile Image:</h3>

        <form action="/action_page.php" method="POST">
          <input type="file" name="pic" accept="image/*" />
          <input type="submit" />
        </form>

        <a href="/createrec"><h3>Upload Audio</h3></a>
        <p>
          <strong>Note:</strong> Because of security issues, this example will
          not allow you to upload files.
        </p>
        <br />
      </div>
    </div>
  </body>
</html>
