<html lang="en">
  <head>
    <title>Passport Authentication</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css"
    />
    <link href="./main2.css" rel="stylesheet" />
  </head>
  ​
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/logout">
            Logout
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img src="image" alt="" />
          <h2>
            Welcome <%= user.nickname %> <span class="member-name"></span>
          </h2>
        </div>
        <a href="/home">Login</a><a href="/user/signup">Sign Up</a>
        <img src="../placeholder.png" alt="placeholder" width="20%"/>

        <h3>Upload Profile Image:</h3>

        <form action="/action_page.php" method="POST">
          <input type="file" name="pic" accept="image/*" />
          <input type="submit" />
        </form>

        <a href="/createrec"><h3>Upload Audio</h3></a>
        <p>
          <strong>Note:</strong> Because of security issues, this example will
          not allow you to upload files.
<br>

          <div class="header">
              <h1>Apollo Audio Streams</h1>
              <p>A <b>responsive</b> website created by me.</p>
            </div>
            <div class="navbar">
              <a href="/" class="active">Home</a>
              <a href="/createrec">Home</a>
              <a href="#">Link</a>
              <a href="#" class="right">Link</a>
            </div>
            <div class="row">
              <div class="side">
                <h2>About Me</h2>
                <h5>Photo of me:</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
                <h3>More Text</h3>
                <p>Lorem ipsum dolor sit ame.</p>
                <div class="fakeimg" style="height:60px;">Image</div><br>
                <div class="fakeimg" style="height:60px;">Image</div><br>
                <div class="fakeimg" style="height:60px;">Image</div>
              </div>
              <div class="main">
                <h2>TITLE HEADING</h2>
                <h5>Title description, Dec 7, 2017</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <br>
                <h2>TITLE HEADING</h2>
                <h5>Title description, Sep 2, 2017</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
              </div>
            </div>
            <div class="footer">
              <h2>Footer</h2>
            </div>
            
        </p>
        <br />
      </div>
    </div>
  </body>
</html>
