<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Apollo Poem Stream</title>
  </head>
  <body>
    <a href="/home">Login</a><br /><a href="/user/signup">Sign Up</a>
    <h1>Apollo Audio Stream</h1>
  </body>
</html>
