<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./main.css" />
    <title>Apollo</title>
  </head>
  <body>
    <img class="fltr" src="../logo.png" alt="Avatar" class="avatar-lower" />
    <h1 class="fltr" style="font-size: 100px;">Apollo</h1>
    <form class="example, fltr" action="action_page.php">
      <input type="text" placeholder="Search" name="search" />
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <form class="form" action="/user/signup" method="post">
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required />
        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me or <a href="/user/signup">register</a>
        </label>
      </div>
    </form>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- The form -->

    <html></html>
    <h3>
      Poems
    </h3>
    <audio controls>
      <source src="horse.ogg" type="audio/ogg" />
      <source src="horse.mp3" type="audio/mpeg" />
    </audio>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>
      Welcome to Apollo
    </h3>
    <audio controls>
      <source src="horse.ogg" type="audio/ogg" />
      <source src="Interview 009.mp3" type="audio/mpeg" />
    </audio>
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr />
    <footer>
      Apollo &copy; 2019
    </footer>
  </body>
</html>
